<form>
  <input type="text" class="form-control" placeholder="Your comment, please.">

  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input type="text" class="form-control" placeholder="What's your nickname?">
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" placeholder="I won't share it.">
  </div>

  <div class="form-group">
    <label for="nickname">Website</label>
    <input type="text" class="form-control" placeholder="If you would like to share it.">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
