<div class="post-preview">
    <a href='<%= "/articles/#{article.id}" %>'>
      <h2 class="post-title">
        <%= article.title %>
      </h2>
      <h3 class="post-subtitle">
        <%= truncate(article.subtitle, length: 200) %>
      </h3>
    </a>
    <p class="post-meta">Posted by <a href="/link/Morgan Xiu">Morgan Xiu</a> on <%= article.created_at %></p>
    <hr>
</div>
