<!DOCTYPE html>
<!-- showing articles -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <% if @articles.empty? %>
        <h3>This article list is still empty, I'm not ready to put anything in here yet.<br><br>Sorry, maybe next time.</h3>
      <% elsif @articles == Settings.error %>
        <h3>This article list doesn't exist.<br><br>Hum...are you hacking around?</h3>
      <% else %>
        <% @articles.each do |article| %>
          <%= render partial: 'articles/article', object: article %>
        <% end %>
      <% end %>

      <!-- Pager -->
      <!-- <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul> -->

    </div>
  </div>
</div>
