
<% content_for :stylesheets do %>
  #header-background { display: none}
<% end %>

<% content_for :header do %>
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('<%= asset_path Settings.backgrounds.link %>')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="post-heading">
                      <h1><%= @link_page.title %></h1>
                      <h2 class="subheading"><%= @link_page.subtitle %></h2>
                      <!-- <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span> -->
                  </div>
              </div>
          </div>
      </div>
  </header>
<% end %>
<!-- <article> -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= markdown(@link_page.body)%>
      </div>
    </div>
  </div>
</article>
